
html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

body {
  background: #ddd;
  padding-top: 5rem;
}

.main-wrapper {
  background: #fff;
  padding: 3rem 1.5rem;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.35)
}

form .btn {
  margin-left: 10px;
}
