
html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

body {
  background: #ddd;
  padding-top: 5rem;
}

.main-wrapper {
  background: #fff;
  padding: 3rem 1.5rem;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.35)
}

button[type=submit] {
  margin-left: 10px;
}

.inner-content {
  text-align: left;
}

.alphabet-char {
  font-size: larger;
  margin: 10px;
}

select {
  margin-left: 10px;
  margin-right: 10px;
}

.card {
  margin-bottom: 20px;

  .card-block:last-child {
    border-top: 1px solid gainsboro;
  }
}

