<h2>About</h2>
<p class="lead">This is what it's all about.</p>

<hr/>

<div class="inner-content">

    <p>
        This application provides a simple frontend for searching the cultural heritage objects stored in the Europeana repository, using the <a href="http://labs.europeana.eu/api/introduction" target="_blank">Europeana REST API</a>
    </p>

</div>
