<h2>Search</h2>
<p class="lead">
    Just fill in any text that you want to search for and hit submit button.
</p>

<form class="form-inline" style="text-align:center">
    <input class="form-control col-md-6 offset-md-3" type="text" placeholder="Text goes here...">
    <button class="btn btn-success" type="submit">Submit</button>
</form>
